* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul li {
    padding: 0;
    left: 0;
    list-style: none outside none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

p {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

textarea {
  resize: none; }

textarea, input, button {
  outline: 0; }

address {
  font-style: normal; }

.html {
  height: 100%; }

.body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  min-width: 100%; }
  .wrapper:after {
    content: '';
    display: block;
    height: 73px; }

.main-footer {
  margin-top: -73px;
  width: 100%;
  height: 73px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  width: 1045px;
  height: 100%; }

.container-middle {
  position: relative;
  margin: 0 auto;
  width: 1045px;
  height: 100%; }

.container-cleafix {
  position: relative;
  margin: 0 auto;
  width: 1045px;
  height: 100%; }

.container:before, .container-cleafix:before, .clearfix:before, .col-left:before, .col-right:before, .wrap:before, .container:after, .container-cleafix:after, .clearfix:after, .col-left:after, .col-right:after, .wrap:after {
  content: " ";
  display: table; }

.container:after, .container-cleafix:after, .clearfix:after, .col-left:after, .col-right:after, .wrap:after {
  clear: both; }

.bold {
  font-weight: bold; }

.text-hide {
  text-align: left;
  display: inline-block;
  text-indent: -9999px; }

.col-left {
  float: left; }

.col-right {
  float: right; }

.wrap {
  position: relative;
  display: block; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.container-middle:before, .align-middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.placeholder {
  color: #aaa; }
