-
    var
        //- Логотип
        //logo = {
        //    wrap:'wrap',
        //    img:'/images/logo.png',
        //    link:'#',
        //    alt:'Лого',
        //}
        //-Основное меню
        //navigatoin = {
        //prefix:'header',
        //nav: {
        //        itemName:['Name1','Name2','Name3','Name4'],
        //        itemLink:['#','#','#','#']
        //    },
        //    wrap:'wrap',
        //    subnav: [
        //        {
        //        itemName:['SubName1','SubName2','SubName3',],
        //        itemLink:['1#','2#','#']
        //        },
        //        {
        //        itemName:['SubName1','SubName2','SubName3','SubName4','SubName5'],
        //        itemLink:['3#','4#','#','#','#']
        //        }
        //    ]
        //}
        //- Форма1
        form = {
            title:['Title1','Title2'],
            attr:[{placeholder:'attr1'},{placeholder:'attr2'}],
            btn:{submit:'Отправить',reset:'Reset'}
        }
        //-Блок контактов
        cont = {
            type:'tel',
            val:'+79114968713',
            text:'+79114968713'
        }
        // Айтемы
        //item = {
        //    name:'name',
        //    img:'/images/Image1.png',
        //    title:'Title',
        //    subtitle:'subtitle',
        //    desc:'Description Description Description'
        //}