-
    var
        //- Логотип
        logo = {
            img:'/images/logo.png',
            link:'#',
            textHide:'Text'
        }
        //-Основное меню
        nav = {
            nav: {
                'MenuItem1':'#',
                'MenuItem2':'#',
                'MenuItem3':'#',
                'MenuItem4':'#',
                'MenuItem5':'#'
            },
            //subnav: {
            //    nav: {
            //    'SubMenuItem1':'#',
            //    'SubMenuItem2':'#',
            //    'SubMenuItem3':'#',
            //    'SubMenuItem4':'#',
            //    'SubMenuItem5':'#'
            //    },
            //    name:'name'
            //}
        }
        //- Форма1
        form = {
            title:['Title1','Title2'],
            attr:[{placeholder:'attr1'},{placeholder:'attr2'}],
            btn:{submit:'Отправить',reset:'Reset'}
        }
        //-Блок контактов
        cont = {
            type:'tel',
            val:'+79114968713',
            text:'+79114968713'
        }
        // Айтемы
        item = {
            name:'name',
            img:'/images/Image1.png',
            title:'Title',
            subtitle:'subtitle',
            desc:'Description Description Description'
        }