-
    var
        //- Логотип
        logo = {
            img:'/imageы/logo.png',
            link:'#',
            textHide:'Text'
        }
        //-Основное меню
        navigation = {
            MenuItem1:'#',
            MenuItem2:'#',
            MenuItem3:'#'
        }
        //- Форма1
        form = {
            title:['Title1','Title2'],
            attr:[{placeholder:'attr1'},{placeholder:'attr2'}],
            btn:{submit:'Отправить'}
        }
        //-Блок контактов
        cont = {
            type:'tel',
            val:'+79114968713',
            text:'+79114968713'
        }
        // Айтемы
        item = {
            name:'name',
            img:'/images/Image1.png',
            title:'Title',
            subtitle:'subtitle',
            desc:'Description Description Description'
        }