extends ../layouts/main
block title
    title Главная страница
block css

    // build:css css/main.css
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild

block header
    include ../common/header
block middle
    include ../common/middle
block footer
    include ../common/footer
block js
    // build:js js/main.js
    script(src="/scripts/main.js")
    // endbuild