extends ../layouts/main
block title
    title Главная страница
block css

    // build:css css/main.css
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild

block contant
    .wrapper
        header.main-header
            include ../common/header
        section.middle
            //include ../common/middle
    footer.main-footer
        include ../common/footer
block js
    // build:js js/main.js
    script(src="/scripts/main.js")
    // endbuild